{% from 'macros.j2' import tooltip_script, background_script, copyright_script %}

{% extends 'base.html' %}

{% block header %}
    <div id="user-screen-header" class="header user-header user-screen-header">
        <button
                id="user-screen-exit-button"
                class="btn btn-secondary position-fixed bottom-0 end-0 me-2 mb-2"
                hx-get="{{ url_for('user-event-tab', event_uniq_id=user_event.uniq_id, user_event_tab=user_event_tab) }}"
                preload
                hx-target="body"
                hx-indicator="#please-wait">
            <i class="bi-x-circle-fill"></i>
        </button>
        <script>
            {% if screen.timer %}
                {% if not screen.timer.error %}
                    <!-- user_timer.js -->
                    {% include 'user_timer.js' %}
                {% endif %}
            {% endif %}
        </script>
        {% if screen.menu_screens and (not rotator or rotator.show_menus) %}
            <div id="#screen-menu" class="screen-menu text-start w-100 m-0 p-2 fw-bold">
                {% for entry in screen.menu_screens %}
                    {% if entry.menu_label is not none %}
                        <a
                                class="screen-menu-item cursor-pointer text-nowrap py-0 px-1 my-0 {% if loop.first %}ms-0{% else %}ms-1{% endif %} {% if loop.last %}me-0{% else %}me-1{% endif %} {% if screen.uniq_id == entry.uniq_id %}selected{% endif %}"
                                hx-get="{{ url_for('user-screen', event_uniq_id=user_event.uniq_id, screen_uniq_id=entry.uniq_id) }}"
                                preload
                                hx-target="body"
                                hx-indicator="#please-wait"
                        >{{ entry.menu_label }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if screen.timer %}
            <!-- user_timer.html -->
            {% include 'user_timer.html' %}
        {% endif %}
        {% if rotator %}
            <div
                    class="rotator-refresher"
                    hx-get="{{ url_for('user-rotator', event_uniq_id=user_event.uniq_id, rotator_id=rotator.id, rotator_screen_index=rotator_screen_index) }}"
                    hx-target="body"
                    hx-trigger="every {{ rotator.delay }}s"
                    hx-indicator="#please-wait"
            ></div>
        {% else %}
            <div
                    class="refresher screen-refresher"
                    hx-headers='{"If-Modified-Since": "{{ now_http_date }}"}'
                    hx-get="{{ url_for('user-screen', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id) }}"
                    hx-target="body"
                    hx-trigger="every {{ papi_web_config.user_screen_update_delay }}s queue:none"
                    hx-indicator="#please-wait"
            ></div>
        {% endif %}
        {{ copyright_script(show=screen.type != 'image') }}
    </div>
{% endblock %}

{% block content %}
    <div id="user-screen-content" class="content user-content user-screen-content">
        {% if screen.type == 'boards' %}
            <div class="screen boards-screen">
                {% for screen_set in screen.screen_sets_sorted_by_order %}
                    {% include 'user_boards_screen_set.html' %}
                {% endfor %}
            </div>
        {% elif screen.type == 'input' %}
            <div class="screen input-screen">
                {% for screen_set in screen.screen_sets_sorted_by_order %}
                    {% include 'user_boards_screen_set.html' %}
                {% endfor %}
            </div>
        {% elif screen.type == 'players' %}
            <div class="screen players-screen">
                {% for screen_set in screen.screen_sets_sorted_by_order %}
                    {% include 'user_players_screen_set.html' %}
                {% endfor %}
            </div>
        {% elif screen.type == 'results' %}
            <div class="screen results-screen">
                {% include 'user_results_screen.html' %}
            </div>
        {% elif screen.type == 'image' %}
            <div
                    class="screen image-screen position-absolute top-0 bottom-0 start-0 end-0 border border-black"
                    style="background-image: url('{{ screen.image }}');"
            ></div>
        {% endif %}
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block modal %}
    {% if login_needed %}
        <div class="modal-dialog d-block w-80 mw-100">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="login-modal-label">Veuillez entrer le code d'accès à l'interface de saisie des résultats :</h2>
                </div>
                <div class="modal-body">
                    <form
                            hx-post="{{ url_for('user-login', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id) }}"
                            hx-target="body"
                    >
                        <div class="mb-3">
                            <label for="event-uniq-id" class="form-label">Évènement</label>
                            <input type="text" class="form-control" id="event-uniq-id" aria-describedby="event-uniq-id-help" value="{{ user_event.uniq_id }}" disabled />
                            <div id="event-uniq-id-help" class="form-text">L'accès aux écrans de saisie des résultats de l'évènement [{{ user_event.uniq_id }}] est protégé par un code.</div>
                        </div>
                        <div class="mb-3">
                            <label for="event-password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="event-password" aria-describedby="event-password-help" name="password">
                            <div id="event-password-help" class="form-text">Veuillez vous rapprocher de l'organisateur pour obtenir le code d'accès.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Connexion</button>
                    </form>
                </div>
                <!--div class="modal-footer d-block">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div-->
            </div>
        </div>
        <script>
            (new bootstrap.Modal(document.getElementById('modal-wrapper'))).show();
            $('#event-password').focus();
        </script>
    {% elif screen.type == 'input' %}
        {% if board %}
            {% with wp=board.white_player, bp=board.black_player %}
                <div class="modal-dialog modal-dialog-centered input-screen-result-modal d-block w-80 mw-100">
                    <div class="modal-content bg-secondary-subtle">
                        <div class="modal-header">
                          <div class="modal-title fs-4 fw-bold">Entrez le résultat</div>
                        </div>
                        <div class="modal-body">
                            <div class="row d-flex align-items-center justify-content-center">
                                <button
                                    class="result-button white text-black bg-white col-3 ms-auto me-auto btn fs-4 fw-bold p-3"
                                    hx-put="{{ url_for('user-add-result', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id, tournament_id=tournament.id, round=tournament.current_round, board_id=board.id, result=3) }}"
                                    hx-target="body"
                                    hx-swap="transition:true"
                                    hx-indicator="#please-wait"
                                >GAIN BLANCS<br/>1 - 0<br/><br/>{{ wp.last_name }}<br/>{{ wp.first_name }}<br/>{{ wp.rating }}{{ wp.rating_type }}</button>
                                <button
                                    class="result-button draw col-3 ms-auto me-auto btn fs-4 fw-bold p-3"
                                    hx-put="{{ url_for('user-add-result', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id, tournament_id=tournament.id, round=tournament.current_round, board_id=board.id, result=2) }}"
                                    hx-target="body"
                                    hx-swap="transition:true"
                                    hx-indicator="#please-wait"
                                >NULLE<br/>½ - ½<br/><br/><br/><br/><br/></button>
                                <button
                                    class="result-button black text-white bg-black col-3 ms-auto me-auto btn fs-4 fw-bold p-3"
                                    hx-put="{{ url_for('user-add-result', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id, tournament_id=tournament.id, round=tournament.current_round, board_id=board.id, result=1) }}"
                                    hx-target="body"
                                    hx-swap="transition:true"
                                >GAIN NOIRS<br/>0 - 1<br/><br/>{{ bp.last_name }}<br/>{{ bp.first_name }}<br/>{{ bp.rating }}{{ bp.rating_type }}</button>
                            </div>
                            {% if admin_auth %}
                                <div class="row d-flex align-items-center justify-content-center mt-3">
                                    <button
                                        class="admin-result-button white text-black bg-white col-3 ms-auto me-auto btn fs-4 fw-bold p-3"
                                        hx-put="{{ url_for('user-add-result', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id, tournament_id=tournament.id, round=tournament.current_round, board_id=board.id, result=6) }}"
                                        hx-target="body"
                                        hx-swap="transition:true"
                                        hx-indicator="#please-wait"
                                    >GAIN BLANCS<br/>PAR FORFAIT<br/>1 - F</button>
                                    <button
                                        class="admin-result-button draw col-3 ms-auto me-auto btn fs-4 fw-bold p-3"
                                        hx-put="{{ url_for('user-add-result', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id, tournament_id=tournament.id, round=tournament.current_round, board_id=board.id, result=5) }}"
                                        hx-target="body"
                                        hx-swap="transition:true"
                                        hx-indicator="#please-wait"
                                    >DOUBLE<br/>FORFAIT<br/>F - F</button>
                                    <button
                                        class="admin-result-button black text-white bg-black col-3 ms-auto me-auto btn fs-4 fw-bold p-3"
                                        hx-put="{{ url_for('user-add-result', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id, tournament_id=tournament.id, round=tournament.current_round, board_id=board.id, result=4) }}"
                                        hx-target="body"
                                        hx-swap="transition:true"
                                    >GAIN NOIRS<br/>PAR FORFAIT<br/>F - 1</button>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button
                                    type="button"
                                    hx-trigger="click, keyup[key=='Escape'] from:body"
                                    class="btn btn-secondary fs-3 p-3"
                                    hx-get="{{ url_for('user-screen', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id) }}"
                                    preload
                                    hx-target="body"
                                    hx-swap="transition:true"
                                    hx-indicator="#please-wait"
                            >Annuler</button>
                        </div>
                    </div>
                </div>
                <script>
                    (new bootstrap.Modal(document.getElementById('modal-wrapper'))).show();
                </script>
            {% endwith %}
        {% endif %}
    {% endif %}
{% endblock modal %}
